<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- ps_product_prop[ps_product_prop]SQLMapper自动映射 -->
<!--  注意:此文件由AOS平台自动生成-禁止手工修改 2016-10-08 11:54:26 -->
<mapper namespace="com.hipishare.products.dao.mapper.Ps_product_propMapper">
	
	<!-- 插入一个数据持久化对象(插入字段为传入PO实体的非空属性) -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="Ps_product_propPO">
		INSERT INTO ps_product_prop (
		<if test="product_no != null and product_no != ''">
	         product_no, <!-- 商品编号 -->
		</if>
		<if test="weight != null">
	         weight, <!-- 商品重量,单位kg -->
		</if>
		<if test="volume != null and volume != ''">
	         volume, <!-- 商品体积，长宽高 -->
		</if>
		<if test="shelf_life != null">
	         shelf_life, <!-- 保质期，单位：月 -->
		</if>
	          id
		)VALUES(
		<if test="product_no != null and product_no != ''">
	          #{product_no, jdbcType=VARCHAR}, <!-- 商品编号 -->
	    </if>
		<if test="weight != null">
	          #{weight, jdbcType=NUMERIC}, <!-- 商品重量,单位kg -->
	    </if>
		<if test="volume != null and volume != ''">
	          #{volume, jdbcType=VARCHAR}, <!-- 商品体积，长宽高 -->
	    </if>
		<if test="shelf_life != null">
	          #{shelf_life, jdbcType=INTEGER}, <!-- 保质期，单位：月 -->
	    </if>
	          null
		)
	</insert>
	
	<!-- 插入一个数据持久化对象(含所有字段) -->
	<insert id="insertAll" useGeneratedKeys="true" keyProperty="id" parameterType="Ps_product_propPO">
		INSERT INTO ps_product_prop (
		    <include refid="column" />
		)
		VALUES (
		    #{id, jdbcType=INTEGER},  <!-- id -->
		    #{product_no, jdbcType=VARCHAR},  <!-- 商品编号 -->
		    #{weight, jdbcType=NUMERIC},  <!-- 商品重量,单位kg -->
		    #{volume, jdbcType=VARCHAR},  <!-- 商品体积，长宽高 -->
		    #{shelf_life, jdbcType=INTEGER}  <!-- 保质期，单位：月 -->
		)
	</insert>

	<!-- 根据主键修改数据持久化对象 -->
	<update id="updateByKey" parameterType="Ps_product_propPO">
		UPDATE ps_product_prop
		<set>
			<if test="id != null">
		          id = #{id, jdbcType=INTEGER},  <!-- id -->
			</if>
			<if test="product_no != null">
		          product_no = #{product_no, jdbcType=VARCHAR},  <!-- 商品编号 -->
			</if>
			<if test="weight != null">
		          weight = #{weight, jdbcType=NUMERIC},  <!-- 商品重量,单位kg -->
			</if>
			<if test="volume != null">
		          volume = #{volume, jdbcType=VARCHAR},  <!-- 商品体积，长宽高 -->
			</if>
			<if test="shelf_life != null">
		          shelf_life = #{shelf_life, jdbcType=INTEGER},  <!-- 保质期，单位：月 -->
			</if>
		</set>
		WHERE  id = #{id}
	</update>
	
	<!-- 根据主键删除数据持久化对象 -->
	<delete id="deleteByKey">
		DELETE FROM ps_product_prop WHERE  id = #{id}
	</delete>

	<!-- 根据主键查询并返回数据持久化对象 -->
	<select id="selectByKey" resultType="Ps_product_propPO">
		SELECT
		<include refid="column" />
		FROM ps_product_prop WHERE  id = #{id}
	</select>

	
	<!-- 表字段 -->
	<sql id="column">
		  id,  <!-- id -->
		  product_no,  <!-- 商品编号 -->
		  weight,  <!-- 商品重量,单位kg -->
		  volume,  <!-- 商品体积，长宽高 -->
		  shelf_life  <!-- 保质期，单位：月 -->
	</sql>
	
	<!-- 表字段(用于外表的关联时引用) -->
	<sql id="column2">
		  ps_product_prop.id,  <!-- id -->
		  ps_product_prop.product_no,  <!-- 商品编号 -->
		  ps_product_prop.weight,  <!-- 商品重量,单位kg -->
		  ps_product_prop.volume,  <!-- 商品体积，长宽高 -->
		  ps_product_prop.shelf_life  <!-- 保质期，单位：月 -->
	</sql>

	<!-- Where精确匹配字段 -->
	<sql id="equal">
	   <if test="id != null ">
		      AND id = #{id}  <!-- id -->
		</if>
	    <if test="product_no != null and product_no != ''">
		      AND product_no = #{product_no}  <!-- 商品编号 -->
		</if>
	   <if test="weight != null ">
		      AND weight = #{weight}  <!-- 商品重量,单位kg -->
		</if>
	    <if test="volume != null and volume != ''">
		      AND volume = #{volume}  <!-- 商品体积，长宽高 -->
		</if>
	   <if test="shelf_life != null ">
		      AND shelf_life = #{shelf_life}  <!-- 保质期，单位：月 -->
		</if>
	</sql>
	
	<!-- Where模糊匹配字段 -->
	<sql id="like">
	    <if test="product_no != null and product_no != ''">
		      AND product_no like '%${product_no}%'  <!-- 商品编号 -->
		</if>
	    <if test="volume != null and volume != ''">
		      AND volume like '%${volume}%'  <!-- 商品体积，长宽高 -->
		</if>
	</sql>
	
</mapper>